/* Basic preset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #325675; /* Light blue background */
}

/* Login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login box styling */
.login-box {
    background-color: white;
    border: 2px solid #2c3e50; /* #051a57 */
    padding: 40px;
    width: 320px;
    box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Title styling */
.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #2c3e50; /* Blue title */
}

/* Input group styling */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #2c3e50;
    border-radius: 4px;
    background-color: #f0f8ff; /* Light blue input background */
    color: #333;
    font-size: 14px;
    transition: border-color 0.3s;
}

/* Focus effect on input fields */
.input-group input:focus {
    border-color: #325675;
    outline: none;
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    background-color: #2c3e50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    /* border-radius: 4px; */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #325675; /* Darker blue on hover */
    font-weight: bolder;
    font-size: larger;

}

/* Mobile responsiveness */
@media (max-width: 480px) {
    .login-box {
        width: 90%;
        padding: 30px;
    }
}

.registerBtn {
    width: 100%;
    padding: 0;
    background-color: white;
    border: none;
    color: #2c3e50;
    font-size: 16px;
    cursor: pointer;
    /* border-radius: 4px; */
    transition: background-color 0.3s;
    text-decoration: underline;
}

.registerBtn:hover {
    background-color: white;
    font-weight: bolder;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}